
/** ---------------------------------------------------------------------- */
/* @autor: Ola Gasidlo (o.gasidlo@gmail.com)
/* ----------------------------------------------------------------------- */

html, body {
    height: 100%;
    background-color: #ebebeb;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
}

    #wrap {
        min-height: 100%;
        height:auto !important;
        height:100%;
        overflow: hidden !important;
        position: absolute;
        width: 300%;
        background: url(../img/bg.png) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        padding: 0;
    }

    @media (max-width: 800px) {
        #wrap {
        width:100%;
    }
}

        .stageOn .list{
            background-color: rgba(255,255,255,0.7); 
            padding: 1.2em 0 1.5em;
            margin: 2em;
            text-align: center;
            font-size: 1.6em;
        }

        

/* -------------------------- submenu & buttons -------------------------- */
        #logo {
            height: 215px;
            width: 200px;
            background: url(../img/logo.png) no-repeat;
            margin: 15% auto;
            cursor: pointer;
        }

        .stageOn #logo {
            margin-top: 10%;
        }

        .stageOn #logo.output {
            
        }

    ul {
        list-style: none;
    }


    menu {
        height: 40px;
        padding: 0 10px;
        z-index: 500;
    }

        button,
        button:active, 
        button:focus {
            border: 0px none;
        }
        
        .btn {
            height: 40px;
            width: 40px;  
            background: url(../img/btn.png) no-repeat;
            margin-left: 15px;
            cursor: pointer;
        }

            .up {
                background-position: right bottom;
            }

            .down {
                background-position: right top;
            }

            .new {
                background-position: left bottom;
                margin-left: 290px;
            }

            .check {
                background-position: center bottom;
            }

            .cancel {
                background-position: center top;
            }

            .back {
                background-position: left top;
                margin-left: -80px;
            }
            
            menu ul {
                top: 48px;
                left: -15px;
                position: absolute;
            }
                menu ul li {
                    height: 36px;
                    width: 180px;
                    background-color: rgba(45, 45, 45, 0.7);
                    margin-bottom: 1px;
                    padding: 2px 10px 0;
                }
            .stage ul{
                margin-left: -50px;
                overflow: auto;
                height: 310px;
            }

            .stage ul li{
                border-bottom:1px solid rgba(45, 45, 45, 0.4);
                padding: 5px;
            }

/* --------------------- stages -------------------*/

.stage {
    width:33%;
    position: absolute;
    z-index: 400;
}

@media (max-width: 800px) {
  .stage {
    width:100%;
    }
}

#stagePerson {
    left: -100% ;
}

#stageList {
    right: -100%;
}




/* -------------- helper -------------- */


.hide{
    display: none;
}

.right {
    float: right;
}

.left {
    float: left;
}

.absolute {
    position: absolute;
    margin-top: 4px;
}

.strike {
    text-decoration: line-through;
    opacity: 0.5;
}

/* -------------------------- TYPO -------------------------- */

html, body {
    font-family: 'Amatic SC', arial, sans-serif;
}

menu ul li {
    font-size: 20px;
    font-family: 'Amatic SC', arial, sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

span, li {
    color:#184640;
}

.title{
    font-size: 48px;
}

.str, .ort{
    font-size: 24px;
}

.stage ul li{
    font-size: 30px;                
}

h2 {
    font-size: 48px;
    margin-top: 0px;
    margin-bottom: 10px;
}
