
/** ---------------------------------------------------------------------- */
/* @autor: Ola Gasidlo (o.gasidlo@gmail.com)
/* ----------------------------------------------------------------------- */

html, body {
    height: 100%;
    background-color: #;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
}

/* --------------------- Stage Definitions -------------------*/

#stage {
    overflow: hidden;
    position: absolute;

    width: 100%;
    height: 100%;
    min-height: 100%;
    top: 0;
    left: 0;

    padding: 0;

    background: url(../img/long-wodden-background.jpg) repeat center center fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    transition: background-position 0.4s ease-out;
}

#stage.people-view {
    background-position: 0 0;
}

#stage.main-view {
    background-position: 50% 0;
}

#stage.eatery-view {
    background-position: 100% 0;
}

/* --------------------- General Views Definitions -------------------*/

#views-wrapper {
    position: relative;
    height: 100%;
    transition: left 0.3s ease-out;
}

.view {
    position: absolute;

    left: 0;
    top: 0;
    z-index: 400;

    width: 100%;

    -o-transition: left 1s;
    -webkit-transform: left 1s;
    transform: left 1s;
}

.view .list{
    padding: 1.2em 0 1.5em;
    margin: 2em;

    text-align: center;
    font-size: 1.6em;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

li[data-hoodie-action] {
    background-color: rgba(255, 255, 255, 0.3);

    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

form[data-add] input {
    margin-top: 35px;

    background: url(../img/enter.png) 195px no-repeat #fff;
    background-size: 18px;
}

/* -------------------------- submenu & buttons -------------------------- */

#logo {
    cursor: pointer;

    height: 215px;
    width: 200px;
    margin: 15% auto;

    background: url(../img/logo.png) no-repeat;
}

#logo {
    margin-top: 10%;
}

#logo.output {
    margin-top: 0%;
}

ul {
    list-style: none;
    margin: 0;
}

.hoodie-accountbar {
    position: absolute;

    margin-top: 10px;
    right: 20px;
    z-index: 999;

    font-size: 16px;
    text-transform: uppercase;
}

.hoodie-accountbar div,
.hoodie-accountbar div span {
    color: #fff;
}

        .hoodie-accountbar .hoodie-username {
            display: inline-block;
            margin-right: 7px;
        }
    a.btn-big {
        margin: 0 5px;
    }

    .hoodie-account-signedin a.btn-big {
        border-left: 1px solid #fff;
         padding-left: 18px;
    }

        .view ul{
                overflow: auto;
                height: 310px;
            }

            .view ul li{
                border-bottom:1px solid rgba(255, 255, 255, 0.4);
                padding: 18px 10px;
            }
    .dropdown-menu li {
        font-family: sans-serif;
        font-size: 13px;
        font-weight: light;
    }


/* -------------- helper -------------- */


.hide {
    display: none;
}

.right {
    float: right;
}

.left {
    float: left;
}

.absolute {
    position: absolute;
    margin-top: 4px;
}

.strike {
    text-decoration: line-through;
    opacity: 0.5;
}

/* -------------------------- TYPO -------------------------- */

html, body {
   /* font-family: 'Roboto', sans-serif; */
    font-family: 'Nothing You Could Do', cursive;
    font-weight: 300;

}


a {
    text-decoration: none;
    color: white;
}

span, li {
  /*  color:#184640; */
    color: #fff;
}

.str, .ort,
.stage ul li{
    font-size: 24px;
}

h2, .title {
    font-size: 48px;
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: 'Pacifico', cursive;
    color: #fff;
} 
    .bd {
        margin: 35px 0 15px 0;
    }

#eatery .title {
    font-size: 64px;
    margin-bottom: 64px;
    line-height: 1.22em;
}

#eatery span {
    display: inline-block;
    line-height: 32px;
}

/* --- Hoodie Sign In / Sign Up / Sign out stylings --- */
/* hide contents until we know if user is signed in or not */
body .hoodie-account-signedin,
body .hoodie-account-signedout,
body .hoodie-account-error {
  display: none;
}

html[data-hoodie-account-status=signedin]  .hoodie-account-signedin,
html[data-hoodie-account-status=error]     .hoodie-account-error,
html[data-hoodie-account-status=signedout] .hoodie-account-signedout {
  display: block;
}

/* Startscreen Arrow Legend */

nav.startscreen {
    margin: 0 auto;
    width: 100%;

    -o-transform: rotate(-3deg)  translateX(-10px);
    -webkit-transform: rotate(-3deg)  translateX(-10px);
    transform: rotate(-3deg) translateX(-10px);

    font-size: 20px;
}

nav.startscreen .item {
    margin: 0 auto 10px auto;
    padding: 15px 0 0 0;
    width: 275px;
    height: 40px;

    color: white;
    text-align: center;
}

nav.startscreen .item span {
    display: inline-block;

    -o-transform: rotate(2deg);
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg) ;
}

nav.startscreen .item.swipe-left {
    background: url(../img/arrows.png) 0 -65px no-repeat;
}

nav.startscreen .item.swipe-right {
    background: url(../img/arrows.png) top left no-repeat;
}