
/** ---------------------------------------------------------------------- */
/* @autor: Ola Gasidlo (o.gasidlo@gmail.com)
/* ----------------------------------------------------------------------- */

html, body {
    height: 100%;
    background-color: #;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
}

    #wrap {
        min-height: 100%;
        height:auto !important;
        height:100%;
        overflow: hidden !important;
        position: absolute;
        width: 300%;
        background: url(../img/long-wodden-background.jpg) repeat center center fixed;

        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        padding: 0;
    }

    #wrap.people {
        background-position: 00 0;
        transition: background-position 0.65s;
    }
    #wrap.startscreen {
        background-position: -100px 0;
        transition: background-position 0.65s;
    }
    #wrap.eatery {
        background-position: -200px 0;
        transition: background-position 0.65s;
    }

    @media (max-width: 800px) {
        #wrap {
        width:100%;
    }
}

        .stageOn .list{
           /* background-color: rgba(255,255,255,0.7); */
            padding: 1.2em 0 1.5em;
            margin: 2em;
            text-align: center;
            font-size: 1.6em;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
        }

        
        li[data-hoodie-action] {
            background-color: rgba(255, 255, 255, 0.3)  ;
            -webkit-border-top-left-radius: 6px;
            -webkit-border-top-right-radius: 6px;
            -moz-border-radius-topleft: 6px;
            -moz-border-radius-topright: 6px;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
        }

        form[data-add] input {
            margin-top: 35px;
            background: url(../img/enter.png) 195px no-repeat #fff;
            background-size: 18px;
        }
/* -------------------------- submenu & buttons -------------------------- */
        #logo {
            height: 215px;
            width: 200px;
            background: url(../img/logo.png) no-repeat;
            margin: 15% auto;
            cursor: pointer;
        }

        .stageOn #logo {
            margin-top: 10%;
        }

        .stageOn #logo.output {
            margin-top: 0%;
        }

    ul {
        list-style: none;
        margin: 0;
    }


    .hoodie-accountbar {
        position: absolute;
        margin-top: 10px; 
        z-index: 999;
        right: 20px;
        font-size: 16px;
        text-transform: uppercase;   
    }
        .hoodie-accountbar div,
        .hoodie-accountbar div span {
            color: #fff;
        }

        .hoodie-accountbar .hoodie-username {
            display: inline-block;
            margin-right: 7px;
        }
    a.btn-big {
        margin: 0 5px;
    }

    .hoodie-account-signedin a.btn-big {
        border-left: 1px solid #fff;
         padding-left: 18px;
    }

        .stage ul{
                overflow: auto;
                height: 310px;
            }

            .stage ul li{
                border-bottom:1px solid rgba(255, 255, 255, 0.4);
                padding: 18px 10px;
            }
    .dropdown-menu li {
        font-family: sans-serif;
        font-size: 13px;
        font-weight: light;
    }

/* --------------------- stages -------------------*/

.stage {
    width:33%;
    position: absolute;
    z-index: 400;   
    top: 60px; 
}

@media (max-width: 800px) {
  .stage {
    width:100%;
    }
}

#stagePerson {
    left: -100% ;
}

#stageList {
    right: -100%;
}




/* -------------- helper -------------- */


.hide{
    display: none;
}

.right {
    float: right;
}

.left {
    float: left;
}

.absolute {
    position: absolute;
    margin-top: 4px;
}

.strike {
    text-decoration: line-through;
    opacity: 0.5;
}

/* -------------------------- TYPO -------------------------- */

html, body {
   /* font-family: 'Roboto', sans-serif; */
    font-family: 'Nothing You Could Do', cursive;
    font-weight: 300;

}


a {
    text-decoration: none;
    color: white;
}

span, li {
  /*  color:#184640; */
    color: #fff;
}

.str, .ort,
.stage ul li{
    font-size: 24px;
}

h2, .title {
    font-size: 48px;
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: 'Pacifico', cursive;
    color: #fff;
} 
    .bd {
        margin: 35px 0 15px 0;
    }

#eatery .title {
    font-size: 64px;
    margin-bottom: 64px;
}

#eatery span {
    display: inline-block;
    line-height: 32px;
}

/* --- Hoodie Sign In / Sign Up / Sign out stylings --- */
/* hide contents until we know if user is signed in or not */
body .hoodie-account-signedin,
body .hoodie-account-signedout,
body .hoodie-account-error {
  display: none;
}

html[data-hoodie-account-status=signedin]  .hoodie-account-signedin,
html[data-hoodie-account-status=error]     .hoodie-account-error,
html[data-hoodie-account-status=signedout] .hoodie-account-signedout {
  display: block;
}

nav.startscreen {
    margin: 0 auto;
    width: 100%;

    -o-transform: rotate(-3deg)  translateX(-10px);
    -webkit-transform: rotate(-3deg)  translateX(-10px);
    transform: rotate(-3deg) translateX(-10px);

    font-size: 20px;
}

nav.startscreen .item {
    margin: 0 auto 10px auto;
    padding: 15px 0 0 0;
    width: 275px;
    height: 40px;

    color: white;
    text-align: center;
}

nav.startscreen .item span {
    display: inline-block;

    -o-transform: rotate(2deg);
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg) ;
}

nav.startscreen .item.swipe-left {
    background: url(../img/arrows.png) 0 -65px no-repeat;
}

nav.startscreen .item.swipe-right {
    background: url(../img/arrows.png) top left no-repeat;
}